@use "../base/variables";

#modal {
    // position: absolute;
    padding: 3rem 9rem;
    border-radius: 53px;
    box-shadow: 15px 15px 17px 0 rgb(0 0 0 / 40%);
    border: solid 29px #FF822C;
    // top: 5rem;
    // left: 7.8rem;
    border-radius: 15px;
    background-color: #04304A;
    width: 74rem;
    height: auto;
    display: block;
    color: white;
    // margin-left: auto;
    // margin-right: auto;
    z-index: 1;
  }
  .popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .hide {
    visibility: hidden;
    display: block;
  }
  
.input-card .header {
    text-align: center;
    margin-top: 1.5rem;
    color: white;
    
  }
.input-card .Question1{
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 2rem; 
    font-weight: lighter;
}
  .input-card .Question2{
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .input-card .blue-Question{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .input-card .green-Question{
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
  
  #input{
    width: 53rem;
    height: 12rem;
    border-radius: 14px;
    border: solid 3px #ffcda9;
    background-color: white;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    resize: none;
  }
  
  .input-card{
    margin-right: auto;
    margin-left: auto;
  }
  
  .input-icon{
    position: absolute;
    left: 2vw;
    top: 2vw;
    width: auto;
    height: 6rem;
    /* background-size: contain; */
    background-repeat: no-repeat;
  }
  
  #modal .input-card .game-logo{
    height: 1.5rem;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
  }
  