@use "../base/variables";

.titleScreen {
    height: 100vh;
    padding: 3.125rem 3.125rem;
    background-color: variables.$light-blue;
}

.logoContainer {
    display: block;
    position: absolute;
}

.sasLogo {
    max-width: 210px;
}

.textImageContainer {
    display: flex;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 10%;
    flex-basis: 100%
    
}

.mainHeading {
    font-size: 86px;
    padding: 0px
}

.titleScreenText {
    font-size: 60px;
    color: variables.$dark-blue;
    text-align: center;
}

.titleScreenBtn:first-child {
    margin-right: 36px;
}

.titleScreenBtn:nth-child(2) {
    margin-left: 36px;
}

.titleScreenBtn {
    width: 273px;
    height: 76px;
    
    border-radius: 17px;
    border-style: none;
    color: white;
    font-size: 33px;
    box-shadow: 15px 15px 17px 0 rgba(0, 0, 0, 0.16);
    background-color: variables.$dark-blue;
}

.imageContainer {
    margin-right: 10%;
    flex-basis: 100%
}

.graphic {
    max-width: 100%;
}