@use "../base/variables";

.titleScreen {
    height: 100vh;
    background-color: variables.$light-blue;
}

.titleScreenMain {
    height: 100%;
}

.sasLogo {
    position: absolute;
margin-top: 2.5rem;
margin-left: 3.125rem;
width: 10rem;
height: 4rem;
}

.textImageContainer {
    display: flex;
    height: inherit;
    padding-top: 5%;
    padding-bottom: 5%;
    
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 10%;
    padding-top: 15.625rem;
    flex-basis: 100%
    
}

.mainHeading {
    font-size: 5.375rem;
    position: absolute;
    top: 250px;
    left: 6%;
    /* margin-bottom: -1.875rem;
    padding: 0rem */
}

.titleScreenText {
    font-size: 3.75rem;
    color: variables.$dark-blue;
    text-align: center;
}

.buttonFlex {
    display: flex;
}

.titleScreenBtn:first-child {
    margin-right: 2.25rem;
}

.titleScreenBtn:nth-child(2) {
    margin-left: 2.25rem;
}

.titleScreenBtn {
    width: 17.063rem;
    height: 4.75rem;
    
    border-radius: 1.063rem;
    border-style: none;
    color: white;
    font-size: 2.063rem;
    box-shadow: 0.938rem 0.938rem 1.063rem 0 rgba(0, 0, 0, 0.16);
    background-color: variables.$dark-blue;
}

.imageContainer {
    margin-right: 6%;
    flex-basis: 100%;
    display: flex
}

.graphic {
    max-width: 100%;
}