@font-face {
    font-family: "Inter-Bolds";
    src: url("./public/assets/inter-Black.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
$primary-font: "Inter-Black";

$white: #ffffff;
$black: #000000;
$dark-blue: #04304a;
$light-blue: #c2e3fe;
